{{ $months := dict 
  "January" "gennaio"
  "February" "febbraio"
  "March" "marzo"
  "April" "aprile"
  "May" "maggio"
  "June" "giugno"
  "July" "luglio"
  "August" "agosto"
  "September" "settembre"
  "October" "ottobre"
  "November" "novembre"
  "December" "dicembre"
}}
{{ $en := .Format "2 January 2006" }}
{{ $day := index (split $en " ") 0 }}
{{ $month := index (split $en " ") 1 }}
{{ $year := index (split $en " ") 2 }}
{{ $itMonth := index $months $month }}
{{ printf "%s %s %s" $day $itMonth $year }}
